@font-face {
  font-family: "Vazirmatn";
  font-weight: 400;
  font-style: normal;
  src: url(/assets/font/Vazirmatn-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Vazirmatn";
  font-weight: 700;
  font-style: normal;
  src: url(/assets/font/Vazirmatn-Bold.woff2) format("woff2");
}

body,
button {
  font-family: "Vazirmatn";
}